<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
</head>

<body>
    <header> 
    <h1> Quiz Challenge <h1>
    </header>
    <form>
        <label for="fname">What is your first name?</label>
             <input type="text" name="fname" placeholder="Enter your name" required><br>
        <label for="lname">What is your last name?</label>
             <input type="text" name="lname"placeholder="Enter your last name" required><br>
         <label for="email">What is your email address?</label>
             <input for="email" name="email" placeholder="johndoe@gmail.com"><br>
        <label for="button">Did you prefer cats or dogs?</label>
             <input type="radio" value="yes" value="no"></br>
        <label for="birthday">When is your birthday:</label>
             <input type="date" name="birthday"></br>
        <label for="phone">Phone number:</label>
            <input type="text" name="phonenumber" placeholder="(401)123-1234"></br>
            <label for="color" name="color">
            <input type="checkbox" 
    </form>
</body>
</html>

